{% extends '_layouts/cp' %}
{% requireAdmin %}

{% set crumbs = [
	{ label: 'Settings'|t('app'), url: url('settings') },
	{ label: 'Plugins'|t('app'), url: url('settings/plugins') }
] %}

{% set fullPageForm = true %}
{% set title = plugin.name %}
{% set docTitle = title ~ ' - ' ~ 'Plugins'|t('app') %}

{% block sidebar %}
	<nav>
		<ul>
			<li><a href="{{ url('settings/plugins/cart-notices') }}" class="sel">Field Layout</a></li>
		</ul>
	</nav>
{% endblock %}

{% block content %}
	<input type="hidden" name="action" value="plugins/save-plugin-settings">
	<input type="hidden" name="pluginHandle" value="{{ plugin.handle }}">
	{{ redirectInput('settings') }}

	{% include '_includes/fieldlayoutdesigner' with {
		fieldLayout: fieldLayout,
	} only %}
{% endblock %}